<html>
<head>
  {% if title %}
  <title>{{title}} - BreadCrumbs</title>
  {% else %}
  <title>BreadCrumbs</title>
  {% endif %}
</head>
<body>
  <div>BreadCrumbs: <a href="/index">Home</a></div>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
  <script type="text/javascript">
    if ('geolocation' in navigator) {
      navigator.geolocation.getCurrentPosition(function(pos) {
        console.log('You\'re current position is: ', pos.coords.latitude, 'latitude by ', pos.coords.longitude, ' longitude.');
      })
    } else {
      console.log('I\'m sorry...perhaps you should upgrade your browser to one that is useful.');
    }
  </script> 
</body>
</html>