<html>
<head>
  {% if title %}
  <title>{{title}} - BreadCrumbs</title>
  {% else %}
  <title>BreadCrumbs</title>
  {% endif %}
</head>
<body>
  <div>BreadCrumbs: <a href="/index">Home</a></div>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    var coordGetter = function(){
      if ('geolocation' in navigator) {
        navigator.geolocation.getCurrentPosition(function(pos) {
          $.ajax({
            type: 'POST',
            url: '/coords',
            data: pos.coords,
            success: function(err, res, func) {
              console.log(arguments)
            }
          })
        });
      } else {
        console.log('I\'m sorry...perhaps you should upgrade your browser to one that is useful.');
      }
    };
    coordGetter();
  </script> 
</body>
</html>